.container {
  margin-top: 11vw;
  text-align: center;
}

.imgContainer {
  margin-top: 20px;
  padding: 0 8vw;
}

.img {
  width: 100%;
  border-radius: 1.6vw;
  box-shadow: 1vw 1vw 0 rgba(52, 84, 59, .5);
}