body {
  margin: 0;
  padding: 0;
  text-align: center;
  background-image: url(img/banner.jpg);
  background-position: center center;
  background-repeat: no repeat;
  background-attachment: fixed;
  background-size: cover;
}

.intro {
  height: 100vh;
}

.intro > div {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text .header {
  font-family: 'Merriweather', sans-serif;
  font-size: 60px;
}

.text .subtext {
  font-family: 'Montserrat', serif;
  font-size: 20px;
}

.icons {
  margin-top: 15px;
}

.icon {
  margin: 0px 5px;
  cursor: pointer;
}

.icon.i1 {
  width: 31px;
}

.icon.i2 {
  width: 30px;
}

.section {
  background-color: rgba(0, 0, 0, 0.6);
}

.section > .header {
  padding: 40px 0px 10px 0px;
  font-family: 'Merriweather', sans-serif;
  font-size: 40px;
  color: white;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  color: white;
  background-position: center center;
  background-size: cover;
  width: 300px;
  height: 300px; 
  margin: 20px 20px;
  cursor: pointer;
  transition: transform 0.5s ease;
}

.apps .card.c1 {
  background-image: url(img/french-toast.jpg);
}

.apps .card.c2 {
  background-image: url(img/cookies.jpg);
}

.apps .card.c3 {
  background-image: url(img/lego.jpg);
}

.games .card.c1 {
  background-image: url(img/forest.jpg);
}

.games .card.c2 {
  background-image: url(img/apples.jpg);
}

.card:hover {
  transform: translateX(-3px) translateY(-6px);
}

.card > .text {
  padding-top: 120px;
  text-shadow: 1.5px 1.5px 2px #424242;
}

.card > .text > .header {
  font-family: 'Merriweather', sans-serif;
  font-size: 25px;
}

.card > .text > .subtext {
  font-family: 'Montserrat', serif;
  font-size: 15px;
}