body, nav, a, h1, h3, p, footer, article, details, section, main, figure, img {
	margin: 0;
}

body {
	height: 100%;
}

nav {
	text-align: right;
	padding: 15px 10px 15px 0px;
}

section.home {
	margin: 40px 165px 0px 165px;
	text-align: center;
	width: 90px;
	background-color: #379683;
	border-radius: 25px;
}

a.home {
	text-decoration: none;
	font-size: 18px;
	font-family: "Courier New", Courier, monospace;
	text-align: center;
	color: #edf5e1;
	width: 30px;
	height: 50px;
}

section.home:hover {
	transform: scale(1.3);
}

a.navbar {
	text-decoration: none;
	padding: 2px 5px 2px 5px;
	font-family: "Courier New", Courier, monospace;
}

h1.top {
	font-family: "Courier New", Courier, monospace;
	font-weight: bold;
	font-size: 3em;
	padding: 5px 0px 5px 0px;
}

p.top {
	font-size: 18px;
}

footer {
	width: 100%;
	text-align: center;
	font-size: 18px;
	margin-top: 40px;
}

footer p {
	padding-bottom: 10px;
}

header {
	text-align: center;
}

article h3 {
	font-family: "Courier New", Courier, monospace;
	font-size: 30px;
	padding: 40px 0px 10px 0px;
}

article details {
	font-size: 18px;
}

article details p {
	padding-top: 5px;
	font-size: 17px;
}

article.graphics aside {
	padding: 20px 0px 15px 0px;
}

article.proj aside {
	padding: 20px 0px 0px 0px;
}

article.proj details {
	padding-top: 20px;
	clear: both;
}

/* smallest screen size */
section {
	text-align: center;
}

article {
	display: inline-block;
	padding-left: 5px;
}

article h3 {
	text-align: left;
}

article p {
	font-size: 18px;
}

article.proj p  {
	text-align: left;
}

/*article.proj details  {
	text-align: left;
}*/

article.graphics figure img {
	width: 400px;
	height: auto;
}

article.proj figure img {
	width: 90px;
	height: auto;
	padding-right: 20px;
	padding-bottom: 10px;
	float: left;
}

@media (min-width: 600px) {
	article.graphics figure img {
		width: 600px;
		height: auto;
	}

	article.proj figure img {
		width: 100px;
		height: auto;
	}

	article h3 {
		text-align: center;
	}

	article.proj {
		padding-left: 10px;
	}

	section.home {
		margin: 40px 265px 0px 265px;
	}
}

@media (min-width: 800px) {
	article.graphics figure img {
		width: 800px;
		height: auto;
	}

	article.proj figure img {
		width: 110px;
		height: auto;
	}

	article h3 {
		text-align: center;
	}

	article.graphics p {
		padding: 0px 0px 0px 10px;
		width: 700px;
	}

	article.proj {
		padding-left: 30px;
		padding-right: 30px;
	}

	section.home {
		margin: 40px 365px 0px 365px;
	}
}

@media (min-width: 1000px) {
	article.graphics figure img {
		width: 900px;
		height: auto;
	}

	article.proj figure img {
		width: 120px;
		height: auto;
	}

	article h3 {
		text-align: center;
	}

	article.graphics p {
		padding: 0px 0px 0px 20px;
		width: 900px;
	}

	article.proj {
		padding-left: 130px;
		padding-right: 130px;
	}

	section.home {
		margin: 40px 465px 0px 465px;
	}
}

@media (min-width: 1200px) {
	article.graphics figure img {
		width: 1000px;
		height: auto;
	}

	article.proj figure img {
		width: 130px;
		height: auto;
	}

	article h3 {
		text-align: center;
	}

	article.graphics p {
		padding: 0px 0px 0px 20px;
		width: 1000px;
	}

	article.proj {
		padding-left: 130px;
		padding-right: 130px;
	}

	section.home {
		margin: 40px 710px 0px 710px;
	}
}
