/* Styling for banner */
.banner {
	position: relative;
	height: 300px;
}

#background {
	position: absolute;
	width: 100%;
	height: 100%;
}

#person  {
	position: absolute;
	width: 50%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/* Styling for websites section */
.section-title {
	text-align: center;
}

.card-columns {
	width: 100%;
}

.card {
	width: 60%;
}

div.text {
	padding-left: 0;
}