.container {
  margin-top: 6vw;
}

.centerAlign {
  text-align: center;
}

.mainImgContainer {
  margin: 30px 0 90px 0;
  padding: 0 20vw;
}

.mainImg {
  width: 100%;
  border-radius: 1.6vw;
  box-shadow: 1vw 1vw 0 rgba(52, 84, 59, .5);
}

.imageContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 44px;

  img {
    max-width: 30%;
  }
}

.aboutContainer {
  // margin-top: 66px;
  // margin: 66px 12vw 0 12vw;
  padding: 66px 12vw;
  background-color: #4d7951;
}

.highlightPadded {
  padding: 0 12vw;
}

.highlightContainer {
  margin-top: 66px;
  // text-align: center;
}

.sectionTitle {
  background-color: #edf2eeb4;
  padding: 10px 12vw;
  margin: 32px 0 44px 0;
  text-align: center;
}

.processContainer {
  display: flex;
  justify-content: center;
  align-items: start;
  // flex: 100px;
  gap: 24px;
  margin: 44px 12vw 66px 12vw;
  color: #EDF2EE;
}

.card {
  background-color: #4d7951;
  border-radius: 20px;
  padding: 40px 26px;
  width: 24vw;
  text-align: center;

  ul {
    padding-left: 20px;
    margin: 0;
  }
}

.cardTitle {
  text-align: center;
  margin-bottom: 16px;
}

.list {
  margin-top: 20px;
  li + li {
    margin-top: 8px;
  }
}