.heading1 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 8vw;
    white-space: pre-wrap;
    line-height: 9vw;
}

.buttonLabel {
    font-family: "Poppins", sans-serif;
    font-size: calc(1vw + 8px);
}

.cardTitle1 {
    font-family: "Poppins", sans-serif;
    font-size: calc(1vw + 8px);
}

.cardDescription1 {
    font-family: "Poppins", sans-serif;
    font-size: calc(1vw + 2px);
}

.label {
    font-family: "Poppins", sans-serif;
    font-size: calc(1vw);
}