.heading1 {
    font-family: "DM Sans", sans-serif;
    font-size: calc(2.2vw + 36px);
    // white-space: pre-wrap;
}

.heading2 {
    font-family: "DM Sans", sans-serif;
    font-size: calc(2vw + 2px);
    // white-space: pre-wrap;
}

.projectTitle {
    font-family: "Rubik", sans-serif;
    font-size: calc(2.2vw + 16px);
    font-weight: 600;
}

.subSectionTitle1 {
    font-family: "Rubik", sans-serif;
    font-size: calc(2vw + 6px);
    font-weight: 600;
}

.sectionTitle1 {
    font-family: "Rubik", sans-serif;
    font-size: calc(2vw + 12px);
    font-weight: 600;
}

.sectionTitle2 {
    font-family: "DM Sans", sans-serif;
    font-size: calc(2vw + 8px);
    font-weight: 600;
}

.primaryButtonLabel {
    font-family: "Poppins", sans-serif;
    font-size: clamp(16px, 0.6vw + 10px, 28px);
}

.buttonLabel {
    font-family: "Poppins", sans-serif;
    font-size: 0.9rem;
}

.cardTitle2 {
    font-family: "Poppins", sans-serif;
    font-size: 1.4rem;
}

.cardTitle1 {
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
    font-weight: bold;
}

.cardDescription1 {
    font-family: "Rubik", sans-serif;
    font-size: 1.1rem;
    line-height: 1.6rem;
}

.cardDescription2 {
    font-family: "Poppins", sans-serif;
    font-size: calc(1vw + 4px);
}

.label {
    font-family: "Poppins", sans-serif;
    font-size: 0.9rem;
}

.tabLabel {
    font-family: "Poppins", sans-serif;
    font-size: calc(1vw + 16px);
    font-weight: 600;
}

.link {
    font-family: "Poppins", sans-serif;
    font-size: calc(1vw + 6px);
    font-weight: 600;
}

.listItem {font-family: "Poppins", sans-serif;
    font-size: calc(2vw + 2px);
}