.links {
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: center;

    a {
        margin-left: calc(1vw + 10px);
        text-decoration: none;
    }
}

.header {
    position: absolute;
    width: 100%;

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 26px 30px;
    }

    a {
        text-decoration: none;
    }
}