.container {
    background-color: #C4D4C5;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tabContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px
}